.sass-cache/
.terraform.lock.hcl
.DS_Store
.env
!/.gitattributes
!/package.json
!/LICENSE
!/.npmignore
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock
lib-cov
coverage
*.lcov
.nyc_output
build/Release
node_modules/
jspm_packages/
*.tsbuildinfo
.eslintcache
*.tgz
.yarn-integrity
.cache
!/test/
!/tsconfig.json
!/tsconfig.dev.json
!/src/
/lib
/dist/
!/.eslintrc.json
/build/
!/project.json
.terragrunt*
/test-reports

# Local .terraform directories


# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log


override.tf
override.tf.json
*_override.tf
*_override.tf.json

.terraform.tfstate.lock.info

.terraformrc
terraform.rc
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc

!.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
!.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
!.terraform.lock.hcl
.terraform/
*.tfstate
*.tfstate.*
!.terraform.lock.hcl
terraform-doc.tar.gz
.terraform.lock.hcl
**/.terraform.lock.hcl
terraform.tfvars